.div-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 500px;
  min-width: 300px;
  height: auto;
  padding: 15px;
  box-shadow: 0px 5px 8px rgba(24, 132, 255, 0.35);
  outline: 1px solid rgba(49, 145, 255, 0.2);
  border-radius: 10px;
}

form h1 {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

form p {
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  opacity: 0.7;
}

form input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  outline: 1px solid rgba(199, 199, 199, 0.8);
  border-radius: 3px;
  padding: 10px;
  transition: ease 0.4s;
}

form select {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  outline: 1px solid rgba(199, 199, 199, 0.8);
  border-radius: 3px;
  padding: 10px;
}

form input:focus,
select:focus {
  outline: 1px solid rgba(0, 119, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 119, 255, 0.45);
}

form button {
  width: 100%;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: rgb(31, 114, 216);
  border: none;
  border-radius: 15px;
  transition: ease 0.15s;
}

form button:hover {
  cursor: pointer;
  scale: 1.02;
}

.div-datosRegistro {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  max-width: 600px;
  min-width: 300px;
  height: auto;
  padding: 15px;
  box-shadow: 0px 5px 8px rgba(24, 132, 255, 0.35);
  outline: 1px solid rgba(49, 145, 255, 0.2);
  border-radius: 10px;
  gap: 4px;

  h1 {
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    align-self: center;
  }

  hr {
    width: 100%;
  }

  label {
    font-weight: bold;
    opacity: 0.7;
  }

  input {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: none;
    outline: 1px solid rgba(199, 199, 199, 0.8);
    border-radius: 3px;
    padding: 10px;
    transition: ease 0.4s;
  }

  #label-codigo, #label-registro, #inp-codigo, #inp-registro{
    width: 49%;
    margin: auto;
    margin-bottom: 10px;
  }

  #label-semestre, #inp-semestre {
    width: 25%;
    margin: auto;
    margin-bottom: 10px;
  }
  #label-carrera, #inp-carrera {
    width: 73%;
    margin: auto;
    margin-bottom: 10px;
  }

  #label-telP, #label-telS, #inp-telP, #inp-telS{
    width: 49%;
    margin: auto;
    margin-bottom: 10px;
  }
}

.div-docRegistro {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 25px;
  width: 990px;
  max-width: 990px;
  min-width: 350px;
  height: auto;
  padding: 15px;
  box-shadow: 0px 5px 8px rgba(24, 132, 255, 0.35);
  outline: 1px solid rgba(49, 145, 255, 0.2);
  border-radius: 10px;
  gap: 4px;
  overflow-x: auto;

  h1 {
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    align-self: center;
  }

  hr {
    width: 100%;
  }

  table {
    width: 100%;
    min-width: 350px;
  }

  th {
    background-color:rgba(49, 145, 255, 0.2);
  }
  td, th {
    border: 1px solid rgba(49, 145, 255, 0.2);
    text-align: center;
    padding: 8px;
  }
}
