  <script type="module" src="/scripts/navbar.js"></script>
  <nav class="navbar">
    <div class="logo">
      <label><strong>BecasCUT</strong></label>
    </div>

    <input type="checkbox" name="inp-toggle" id="inp-toggle">
    <label for="inp-toggle" class="toggle">
      <span class="icon-toggle"></span>
    </label>

    <div class="links">
      <ul>
        <li><a href="/alumnos/verRegistro"><strong>Ver registro</strong></a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn"><strong>Descargables</strong></button>
            <div class="dropdown-content">
              <h3>Alimentos</h3>
              <hr>
              <a href="/alumnos/descargarFormatoSolicitud">Formato de solicitud</a>
              <a href="/alumnos/descargarCovocatoriaAlimentos">Convocatoria alimentos</a>
              <hr>
              <h3>Becarios</h3>
              <hr>
              <a href="#">Formato de solicitud</a>
              <a href="#">Convocatoria alimentos</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn"><strong>Cuenta</strong></button>
            <div class="dropdown-content">
              <span><strong>Usuario: <%= alumno.codigo %> </strong></span>
              <hr>
              <a id="btn-logout" href="/alumnos/logout"><strong>Logout</strong></a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="ayuda">
      <a href="#about">Ayuda</a>
    </div>

    <div class="drop-links">
      <ul>
        <li><a href="/alumnos/verRegistro"><strong>Ver registro</strong></a></li>
        <li>
          <div class="dropdown">
            <button class="dropbtn"><strong>Descargables</strong></button>
            <div class="dropdown-content">
              <h3>Alimentos</h3>
              <hr>
              <a href="/downFormato">Formato de solicitud</a>
              <a href="/downCovocatoriaAlimentos">Convocatoria alimentos</a>
              <hr>
              <h3>Becarios</h3>
              <hr>
              <a href="/downFormato">Formato de solicitud</a>
              <a href="/downCovocatoriaAlimentos">Convocatoria alimentos</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn"><strong>Cuenta</strong></button>
            <div class="dropdown-content">
              <span><strong>Usuario: <%= alumno.codigo %> </strong></span>
              <hr>
              <a id="btn-logout" href="/alumnos/logout"><strong>Logout</strong></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>
