<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/styles/login.css">
</head>

<body data-theme="light">
  <main>
    <div class="div-login">
      <h1 style="text-align: center; font-size: larger;">Registrar nuevo alumno</h1>
      <form action="/alumnos/registrar" method="post" id="login">
        <label for="codigo">C칩digo</label>
        <input type="text" name="codigo" id="codigo" pattern="[0-9]+" inputmode="numeric" placeholder="C칩digo"
          required>
        <label for="password">Contrase침a</label>
        <input type="password" name="password" id="password" placeholder=" Contrase침a" required>
        <button type="submit" id="entrar">Registrar</button>
      </form>
    </div>
  </main>

</body>

</html>